.shop-page {
    padding: 0;

    ul {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        padding-left: 0;
    }

    .product {
        display: flex;
        flex-direction: column;
        list-style: none;
        background: #fff;
        margin: 10px;
        text-decoration: none;

        a {
            text-decoration: none;
        }

        .img-container {
            max-height: 250px;
            overflow: hidden;
        }
        
        #product-intro {
            padding: 20px 20px 0 20px;
            
            h2 {
                font-size: 1rem;
                font-weight: 600;
                text-decoration: none;
                color: #000;
            }

            p {
                font-size: 0.9rem;
                margin: 0;
                color: grey;
            }

        }

        #price {
            padding: 0 20px;
            p{
                font-weight: 600;
                color:#000;
            }
        }

        button {
            z-index: 10;
            border: none;
            background: #4FD37E;
            color: #fff;
            font-size: 1.2rem;
            padding: 5px 0;   
        }
    }
}

@media screen and (max-width: 960px) {
    .shop-page {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 50%);
        }
    }
}