.homepage-slice-wrapper-article-list {
    margin-bottom: 1.2rem;

    #wrapper-intro {
        display: flex;
        justify-content: center;

        h2 {
            font-size: 3rem;
            margin-bottom: 1.2rem;
            color: #fff;
        }
    }
}

.article-list {
    width: 100%;
    display: grid;
    grid-auto-rows: auto;

    .article-item {
        margin: 10px;
        background: #fff;
        box-shadow: 0 1px 1px 1px rgba(0,0,0,.12);
        border-radius: 5px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;

        .listcontent {
            display: flex;
            flex-direction: column;

            h3 {
                padding: 0 15px;
                margin: 15px 0;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            p {
                padding: 0 15px;
            }

            #read-more {
                margin-top: 10px;
                padding-bottom: 20px;

            }
        }
    }
}


@media screen and (min-width: 700px) {
.article-list {
    grid-template-columns: repeat(3, 33.3%);

    .article-item {
        margin: 10px;
        background: #fff;
        box-shadow: 0 1px 1px 1px rgba(0,0,0,.12);
        border-radius: 5px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;

        h3 {
            padding: 0 15px;

            a {
                text-decoration: none;
                color: #000;
            }
        }

        p {
            padding: 0 15px;
        }

        #read-more {
            padding-bottom: 20px;

        }
    }
}
}

