.right, 
.left {
    display: grid;
    margin: 60px 20px;

    div {
        padding: 40px 30px;
        align-self: center;
    }

    .image-aside {
        margin: 15px;
    }
}

.left {
    .image-aside{
        -webkit-order: 1;
        order: 1;
    }
    div{
        -webkit-order: 2;
        order: 2;
    }

}

@media screen and (min-width: 800px) {
    .right
    .left {
        grid-template-columns: 1fr 1fr;
    }
}