.post-quote {
    margin: 40px 0;

    blockquote {
        font-style: italic;
        border: none;
        display: block;
        text-align:center;
        font-size: 2.8rem;
        color: rgba(0,0,0,0.7);

        span {
            display: inline-block;
            margin-right: 8px;
            vertical-align: -webkit-baseline-middle;
            font-size: 4rem;
            font-weight: bold;
            color: rgba(214, 18, 18, 0.8);
          }
      }
}