@import './_variables.scss';

body {
    font-family: $font-family;
    ;

    p {
        font-size: 1.2rem;
        margin-top: 15px;
    }
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-parts {
    width: 100%;
    height: 400px;
    background: rgba(0,0,0,0.4);
}

#top-menu {
    display: flex;
    align-items: center;
}

#intro {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

#header-text {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

#header-button {
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 15px 20px;
    background: #000;
    border: 3px solid #3abcda;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.homepage-slice-wrapper {
    background: #fff;
    padding: 30px 20px;
    margin: 20px 0 40px 0;

    div {
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
    }
}


.block-img {
    display: flex;
    justify-content: center;
    img {
        max-width: 100%
    }
}

.read-more {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

    a {
        background: #25307e;
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
    }
}

/*================

    Blog post

=================*/

#blog-single-header {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;

    #top-menu {
        justify-content: flex-end;
    }


}

#blog-single-main {
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 3rem;
        margin: 30px 0 30px 0;
    }

    iframe {
        width: 100%;
        max-width: 960px;
        height: -webkit-fill-available;
        max-height: 500px;
    }
}

.blog-post {
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;

        .blog-post-content {
            padding: 40px 30px;
        }
}
