@import '../styles/_variables.scss';

#mainNav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .navbar-brand {
        margin: 0.8rem 0 0 1rem;
        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .hide {
        display: flex;
    }

        .nav-items {
            display: flex;
            list-style: none;
            margin-top: 0.8rem;

            li a {
                color: $primary-text-color;
            }
        }

        .signin-up {
            margin: 1.4rem 1rem;
            color: $primary-text-color;

             svg {
                 fill: $primary-text-color;
             }
             .snipcart-user-profile {
                 svg {
                     margin-right: 1rem;
                 }
             }
        }

    #responsive-menu {
        display: none;
        background-color: transparent;
        border: 0.3px solid $primary-text-color;
        width: 56px;
        height: 50px;
        svg {
            width: 32px;
            fill: $primary-text-color;
        }
    }

}

@media screen and (max-width: 990px) {
    #mainNav {

        #responsive-menu {
            display: block;
            z-index: 10;
        }

        .hide {
            display: none;
        }

        .show {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: black;
            z-index: 1;
            overflow: hidden;
        }


        .nav-items {
            display: block;
            margin-top: 60px;

            .nav-item {
                border-bottom: 0.3px solid;
                width: 80%;
            }
        }

        .signin-up {
            display: inline-flex;
            padding-left: 30px;
        }
    }



}